:root {
	scroll-behavior: smooth;
	--primary-color: #80bebf;
	--primary-shadow: #80bebf66;
	--secondary-color: #dae1e5;
	--crimson-color: #6b0a1d;
	--crimson-shadow: #6b0a1d66;
	--hot-pink-color: #ff69b4;
	--hot-pink-shadow: #ff69b466;
}

.crimson {
	--primary-color: var(--crimson-color);
	--primary-shadow: var(--crimson-shadow);
}
.hot-pink {
	--primary-color: var(--hot-pink-color);
	--primary-shadow: var(--hot-pink-shadow);
}
/* Elements */
body {
	font-family: Quicksand, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}
textarea {
	width: 100%;
	outline: none;
	resize: none;
}
input[name='new'] {
	outline: none;
}
main {
	min-height: 100%;
}
footer,
header {
	background-color: var(--primary-color);
}

/* Modal */
dialog {
	padding: 0;
}
dialog h1 {
	color: var(--primary-color);
	font-weight: 800;
}
dialog::backdrop {
	background-color: #00000099;
}

#date-confirm,
#settings-confirm {
	color: var(--primary-color);
}

#settings-modal,
#date-modal {
	width: 500px;
}

/* Settings */

/* Date Picker */
input[name='date'] {
	font-weight: 500;
	color: #1a1a1a;
	background-color: #f9f9f9;
	border: 2px solid var(--primary-color);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
	width: 100%;
}

input[name='date']:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 0 0.25rem var(--primary-shadow);
	outline: none;
}
input[name='date']::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

/* App Container */
#app {
	height: 100dvh;
}
.app-container {
	background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
}

.content-wrapper {
	grid-template-rows: auto 1fr;
	height: 100%;
}

/* Tasks */
.new-task {
	background-color: var(--secondary-color);
}
.circle-arrow {
	color: var(--primary-color);
}
.circle-arrow:hover {
	color: #80bebfaa;
}

div[name='delete'],
div[name='edit'] {
	transition: all 1s ease;
}
div[name='delete']:hover,
div[name='edit']:hover {
	transform: scale(1.1);
}

.item-wrapper {
	background-color: var(--secondary-color);
	height: 3.875rem;
}

/* Media Query */
@media (min-width: 1200px) {
	.app-container,
	.canvas-container {
		border-radius: 1rem;
		max-width: 1140px;
		margin: auto;
	}
	#app {
		padding-block: 2rem;
	}
	footer {
		border-radius: 0 0 1rem 1rem;
	}
	header {
		border-radius: 1rem 1rem 0 0;
	}
}
